* {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex-item-1 {
    position: relative;
    background: url("/Assets/Pictures/IMG_9780.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    color: white;
}

.flex-item-1 span {
    padding: 5px;
}

.button-1 {
    border-color: #18ea19;
    width: 9em;
    height: 3em;
    background-color: #18ea19;
    color: white;
    background:#18ea19;
    position: relative;
    right: 0px;
    top: 10px;
    border-radius: 5px;
}
.flex-item-1 img {
    width: auto;
    max-width: 100%;
    max-height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.nav-bar {
    display: inline-block;
    position: absolute;
    top: 1em;
    right: 6em;
}
.flex-item-1 h1 {
    position: absolute;
    font-weight: normal;
    color: white;
    left: 2.5em;
    bottom: 8em;
}
.flex-item-1 p {
    color: white;
    position: absolute;
    left: 5rem;
    bottom: 6em;
}
.button-2 {
    border-color: #18ea19;
    width: 9em;
    height: 3em;
    background-color: #18ea19;
    color: white;
    position: absolute;
    bottom: 3em;
    left: 6em;
    border-radius: 5px;
    padding: 12px;
}
 /* --------- Section 2 --------- */

 .flex-item-2 {
     display: flex;
    position: relative;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
 }

 .flex-item-2 h2 {
     color: #18ea19;
     text-align: center;
     padding-bottom: 1em;
     font-size: 2em;
     font-weight: bold;
 }

 .flex-item-2 h3 {
     font-weight: bold;
     text-align: center;
     padding: 15px;
     width:10em;
 }

 /* ------Section 3----- */

 .flex-item-3 {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5em;
}

 .flex-item-3 img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-width: fit-content;
    max-height: fit-content;
 }

.text-3 {
    height: auto;
    width: 20em;
    font-size: 2em;
}

.text-3 h2 {
    font-weight:200;
    padding-bottom: 10px;
    font-size: 3rem;
}

.text-3 h3 {
    font-weight: 900;
    padding-bottom: 20px;
}

.text-3 a {
    color: #18ea19;
}

/* ---------Section 4-------- */

.flex-item-4 {
    background-color: #18ea19;
    padding-top: 5em;
}

.flex-subsection-1 {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.flex-item-4 > div {
    color: white;
    text-align: center;
    font-size: 2em;
}

.flex-item-4 h2 {
    font-weight: normal;
}

/* -----------Section 5----------- */

.flex-item-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.flex-item-5 img {
    max-width: 100%;
    height: auto;
    max-width: fit-content;
    max-height: fit-content;
    align-items:center;
}

.text-5 {
    text-align: center;
    height: auto;
    width: auto;
    font-size: 2em;
}
.text-5 h2 {
    font-weight: 200;
    padding-bottom: 10px;
    font-size: 3rem;
}

.text-5 h3 {
    font-weight: 900;
    padding-bottom: 20px;
}
.text-5 p {
    text-align: left;
    width:15em;
}
.text-5 a {
    color: #18ea19;
}

/* -------Section 6-------- */

.flex-item-6 {
    padding-top: 5em;
    text-align: center;
}

.flex-item-6 img {
    max-width: 100%;
    max-height: 100%;
}

/* --------Section 7--------- */

.flex-item-7 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-7 h2 {
    text-align: center;
    font-size: 4em;
}

/* ---------Section 8-------- */

.flex-item-8 img {
    width: 100%;
}

.flex-item-8 h2 {
    text-align: center;
    font-size: 4em;
}

/* ----------Section 9-------------- */

.flex-item-9 img {
    width: 100%;
}

.flex-item-9 h2 {
    text-align: center;
    font-size: 4em;
}

/* ----------Section 10-------------- */

.flex-item-10 {
    color: black;
    background-color: grey;
    text-align: center;
    height: 10em;
    font-size: 4em;
}

.flex-item-10 button {
    background-color: black ;
    width: 15em;
    height: 5em;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

/* ----------Footer-------------- */

.footer {
    color: white;
    background-color: black;
    position: relative;
    height: 500px;
}

.footer img {
    fill: transparent;
    width: 20px;
    height: 20px;
}

.icon-list {
    position: absolute;
    text-align: right;
    padding-bottom: 20px;
}

.footer .h3 .a {
    color:#18ea19;
}