* {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

section {
    margin:0;
    padding:10%
}

.bold {
    font-weight: bold;
    font-size: 2em;
}

.normal-weight{
    font-weight: normal;
    font-size: 2em;
}

.green-link {
    color: #18ea19;
}

/* ------------------ */

header {
    position: relative;
    background: url("/Assets/Pictures/IMG_9780.JPG");
    background-size:100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 66.64%;
    color: white;
}

.header-text {
    position: absolute;
    display:block;
    left: 5rem;
    bottom: 2rem;
    max-width: 60rem;
    font-size: 2.5rem;
}

.icon {
    width: auto;
    max-width: 100%;
    max-height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
}

header ul {
    display: inline-flexbox;
    position: absolute;
    top: 10px;
    left: 35%;
    list-style: none;
}

header li {
    display: inline;
    padding:5px;
}

header button {
    border-color: #18ea19;
    background-color: #18ea19;
    color: white;
    border-radius: 5px;
    padding: 1rem
}

 /* --------- Section 1 --------- */
.section-1 div {
    width:auto;
    margin-inline: auto;
    padding-bottom: 25px;
}

.bold-green {
    color: #18ea19;
    font-weight: bolder;
    padding-bottom: 10px;
}

.section-1 h2 {
    font-size: 3rem;
    text-align: center;
}
 /* ------Section 2----- */
.section-2 img {
    max-width: 100%;
}
.text-3 {
    font-size:3rem ;
    max-width: 45rem;
}
.text-3 p{
    padding-top: 20px;
}
/* ---------Section 3-------- */
.section-3 {
    background-color: #18ea19;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
}
.text-4 {
        margin: auto;
        width: 50%;
        padding: 10px;
}
/* -----------Section 4----------- */

.section-4 {
    display: flex;
    flex-wrap: wrap;
}

.section-4 img {
    max-width: 100%;
}

.text-5 {
    text-align: start;
    font-size: 2.5rem;
}
/* -------Section 5-------- */
.section-5 {
    display: flex;
    flex-wrap: wrap;
}

.section-5 img {
    max-width: 100%;
}

.text-6 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.4rem;
}
/* --------Section 6--------- */
.section-6 {
    position: relative;
    background-color: lightgrey;
}
.section-6 h2 {
    text-align: center;
    font-size: 4rem;
    padding-bottom: 20px;
}
.section-6 ul {
    text-align: center;
    display: block;
}

.section-6 li {
    display: inline-flex;
    max-width: 100%;
    padding-block: 20px;
}

.section-6 img {
    width: 18rem;
}
/* ---------Section 7-------- */
.section-7 {
    text-align: center;
}
.section-7 img {
    max-width: 100%;
}

.section-7 h2 {
    font-size: 4rem;
    padding-bottom: 20px;
}
/* ----------Section 8-------------- */
.section-8 {
    text-align: center;
    font-size: 4rem;
}

.section-8 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.section-8 li {
    flex-wrap: wrap;
}

/* ----------Section 10-------------- */
.section-9 {
    background-color: lightgrey;
    text-align: center;
    font-size: 2rem;
}

.section-9 > button {
    background: black;
    color: white;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-top: 20px;
    border-radius: 10%;
}
/* ----------Footer-------------- */

footer {
    position: relative;
    padding: 3rem;
    text-align: center;
    position: relative;
    background-color: black;
    color: white;
}

footer h3 {
    font-weight: normal;
    display: block;
}
footer .green-link {
    position: absolute;
    left: 40px;
}

footer ul {
    position: absolute;
    right: 20px;
    bottom:20px;
}

footer li {
    display: inline-block;
    
}

footer img {
    background-color: white;
    width: 3rem;
    height: 3rem;
}