* {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

section {
    margin:0;
    padding:10%
}

.bold {
    font-weight: bold;
    font-size: 2rem;
}

.normal-weight{
    font-weight: normal;
    font-size: 2rem;
}

.green-link {
    color: #18ea19;
}

/* ------------------ */

header {
    position: relative;
    background: url("/Assets/Pictures/IMG_9780.JPG");
    background-size:110%;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    color: white;
}

.icon {
    width: auto;
    max-width: 100%;
    max-height: 80px;
    position: absolute;
    left: 10px;
    top: 10px;
}

header ul {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
    list-style: none;
}

header li {
    display: inline;
    padding:5px;
}

header button {
    border-color: #18ea19;
    background-color: #18ea19;
    color: white;
    border-radius: 5px;
    padding: 1rem
}

header button:last-child {
    position: absolute;
    left: 5rem;
    bottom: 1rem;
}

header p,h1 {
    position: absolute;
    display:block;
    bottom: 5rem;
    left: 5rem;
    width: 20rem;
    padding-block: 5px;
}

header h1 {
    position: absolute;
    bottom: 10rem;
}

header p {
    width: 30rem;
}
 /* --------- Section 1 --------- */
.section-1 div {
    width: 10rem;
    margin-inline: auto;
    text-align: center;
    padding-bottom: 25px;
}

.bold-green {
    color: #18ea19;
    font-weight: bolder;
    padding-bottom: 10px;
}

 /* ------Section 2----- */

.section-2 img {
    max-width: 100%;
}

.text-3 p{
    padding-top: 20px;
}
/* ---------Section 3-------- */
.section-3 {
    background-color: #18ea19;
}
.section-3 h2 {
    text-align: center;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
}

/* -----------Section 5----------- */
.section-5 {
    display: flex;
    flex-wrap: wrap;
}

.section-5 img {
    max-width: 100%;
}

.text-5 {
    padding-block: 20px;
    width: 25rem;
}

.text-5 p {
    padding-block: 20px;
}
/* -------Section 6-------- */

.flex-item-6 {
    padding-top: 5em;
    text-align: center;
}

.flex-item-6 img {
    max-width: 100%;
    max-height: 100%;
}

/* --------Section 7--------- */

.flex-item-7 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-7 h2 {
    text-align: center;
    font-size: 4em;
}

/* ---------Section 8-------- */

.flex-item-8 img {
    width: 100%;
}

.flex-item-8 h2 {
    text-align: center;
    font-size: 4em;
}

/* ----------Section 9-------------- */

.flex-item-9 img {
    width: 100%;
}

.flex-item-9 h2 {
    text-align: center;
    font-size: 4em;
}

/* ----------Section 10-------------- */

.flex-item-10 {
    color: black;
    background-color: grey;
    text-align: center;
    height: 10em;
    font-size: 4em;
}

.flex-item-10 button {
    background-color: black ;
    width: 15em;
    height: 5em;
    color: white;
    font-size: 30px;
    border-radius: 20px;
}

/* ----------Footer-------------- */

.footer {
    color: white;
    background-color: black;
    position: relative;
    height: 500px;
}

.footer img {
    fill: transparent;
    width: 20px;
    height: 20px;
}

.icon-list {
    position: absolute;
    text-align: right;
    padding-bottom: 20px;
}

.footer .h3 .a {
    color:#18ea19;
}